namespace: inference-demo

resources:
  - ../base

patches:
- target:
    kind: Deployment
    name: rhaiis
  patch: |-
    - op: add
      path: /spec/template/spec/containers/0/args/-
      value: --model=/model/granite40htiny
    - op: add
      path: /spec/template/spec/containers/0/args/-
      value: --served-model-name=granite-4.0-h-tiny
