apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: download-model-hf
spec:
  params:
    - description: Model to download.
      name: MODEL
      type: string
    - description: Download directory.
      name: MODEL_DIR
      type: string
  steps:
    - args:
        - |-
          echo "Create model dir if it doesn't exist."
          mkdir -p $(workspaces.model.path)/$(params.MODEL_DIR)

          echo "Clean models dir if it's not empty."
          rm -rf $(workspaces.model.path)/$(params.MODEL_DIR)/*

          echo "Create and sourc venv"
          python -m venv my_env

          source my_env/bin/activate
          pip install -U "huggingface_hub==0.36.0"

          echo Downloading Model

          hf download $(params.MODEL) --local-dir=$(workspaces.model.path)/$(params.MODEL_DIR)

          echo -----------------------------------
      command:
        - /bin/bash
        - '-c'
      computeResources: {}
      image: 'registry.redhat.io/ubi8/python-312:latest'
      name: download
      workingDir: /workspace/model
  workspaces:
    - name: model
